<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Use the base layout -->
<head th:replace="layout-general :: head"></head>
<body th:replace="layout-general :: body">
<div th:fragment="main">
    <div class="col-md-8">
        <h2 class="text-center mt-5">Student Application Form</h2>

        <div>
            <span>Your id is: </span>
            <span th:text="${id}"></span>
        </div>
       <div>
           <p>Your email is: </p>
           <span th:text="${id}"></span><span>@student.com</span>
       </div>

    </div>
</div>
</body>
</html>
