<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Use the base layout -->
<head th:replace="~{layout-general :: head(pageTitle='Application Success')}"></head>
<body th:replace="~{layout-general :: body}">
<div th:fragment="main">
    <div class="col-md-8">
        <h2>Your application was received successfully</h2>
        <h4>Check your email (and spam). We have sent an email with an invitation code. Use the code to verify your email address and login to account</h4>

    </div>
</div>
</body>
</html>
