<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Student Dashboard')"><title>Admin Dashboard</title></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">

    <div th:insert="fragments/toast :: toast(type=${toastType}, message=${toastMessage})"></div>
    <div class="no-data-box d-flex" th:if="${classEnrollmentMap.isEmpty()}"><p class="mx-auto my-auto">No data available</p></div>


    <div th:if="${!classEnrollmentMap.isEmpty()}" class="flex-grid-one-col mt-3">
        <div class="card ">
            <div class="card-body grid-5-cols">
                <span>Room Code</span>
                <span>Day</span>
                <span>Time</span>
                <span>Status</span>
                <span class="ms-auto text-right">Actions</span>
            </div>
        </div>

        <div class="card" th:each="entry : ${classEnrollmentMap}">
            <div class="card-body grid-5-cols">
                <span th:text="${entry.key.getRoomCode()}"></span>
                <span th:text="${entry.key.getDay()}"></span>
                <span th:text="${entry.key.getPeriod().getTime()}"></span>

                <div th:if="${entry.value == null}">
                    <!-- If no enrollment exists, show "Enroll" button -->
                    <form action="/student/enrollment/new" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name="subjectClassId" th:value="${entry.key.getId()}"/>
                        <!--                    <input type="hidden" name="subjectCode" th:value="${entry.key.getSubject().getCode()}"/>-->
                        <button type="submit" class="btn btn-secondary float-right btn-sm">Enroll</button>
                    </form>
                </div>

                <div th:if="${entry.value != null}">
                    <button type="button" class="btn btn-success float-right btn-sm"
                            th:if="${entry.value.isAccepted().toString() == 'ACCEPTED'}" disabled>Enrolled</button>
                    <button type="button" class="btn btn-warning float-right btn-sm"
                            th:if="${entry.value.isAccepted().toString() == 'PENDING'}" disabled>Pending</button>
                </div>

                <a class="ms-auto text-right" th:href="@{'/student/subjects/'+ ${entry.getKey().getSubject().getCode()} + '/' + ${entry.getKey().getId()}}">View Class</a>


            </div>
        </div>
    </div>
</div>

</body>
</html>
