<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Subjects')"><title>User Dash</title></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">

    <h2>Your current enrolled Subjects</h2>
    <div class="no-data-box d-flex" th:if="${enrolledSubjects.isEmpty()}"><p class="mx-auto my-auto">No data available</p></div>
    <table th:if="${!enrolledSubjects.isEmpty()}" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Teacher</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${enrolledSubjects}">
            <td>
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="fw-bold mb-1" th:text="${subject.getCode()}"></p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1" th:text="${subject.getName()}"></p>
            </td>
            <td>
                <p class="fw-normal mb-1" th:text="${subject.getTeacher().getFName()}"></p>
            </td>
            <td>
                <a th:href="@{'/student/subjects/' + ${subject.code}}" type="button" class="btn btn-link btn-sm btn-rounded">
                    Details
                </a>
            </td>
        </tr>

        </tbody>
    </table>

    <h2>Enroll in new ones</h2>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Teacher</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}">
            <td>
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="fw-bold mb-1" th:text="${subject.getCode()}"></p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1" th:text="${subject.getName()}"></p>
            </td>
            <td>
                <p class="fw-normal mb-1" th:text="${subject.getTeacher().getFName()}"></p>
            </td>
            <td>
                <a th:href="@{'/student/subjects/' + ${subject.code}}" type="button" class="btn btn-link btn-sm btn-rounded">
                    Details
                </a>
            </td>
        </tr>

        </tbody>
    </table>

</div>

</body>
</html>
