<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Student Dashboard')"><title>Admin Dashboard</title></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">

    <div th:each="entry : ${classEnrollmentMap}">
        <div class="card-block">
            <!-- Access SubjectClass via entry.key -->
            <h4 class="card-title mt-3" th:text="${entry.key.getRoomCode()}"></h4>
            <div class="meta" th:text="${entry.key.getDay()}"></div>
            <div class="card-text" th:text="${entry.key.getTime()}"></div>

            <!-- Access Enrollment via entry.value -->
            <div th:if="${entry.value == null}">
                <!-- If no enrollment exists, show "Enroll" button -->
                <form action="/student/enrollment/new" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="subjectClassId" th:value="${entry.key.getId()}"/>
<!--                    <input type="hidden" name="subjectCode" th:value="${entry.key.getSubject().getCode()}"/>-->
                    <button type="submit" class="btn btn-secondary float-right btn-sm">Enroll</button>
                </form>
            </div>

            <!-- Enrollment exists, show appropriate buttons -->
            <div th:if="${entry.value != null}">
                <button type="button" class="btn btn-success float-right btn-sm"
                        th:if="${entry.value.isAccepted() == true}" disabled>Enrolled</button>
                <button type="button" class="btn btn-warning float-right btn-sm"
                        th:if="${entry.value.isAccepted() == false}" disabled>Pending</button>
            </div>
        </div>
    </div>


<!--                <th:block th:replace="modals/newEnrollmentModal :: modal(classId=${class.getId()})">modal</th:block>-->

            </div>

        </div>

    </div>






</div>

</body>
</html>
