<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout-dashboard :: head(name='Invite User')}"><title>Invite Teachers</title></head>

<body th:replace="~{layout-dashboard :: body(sideNavLinks=${sideNavLinks})}">

<div th:fragment="main" class="d-flex">

    <div class="main container-fluid">
        <div class="mt-5">
            <h1>Invite Parents</h1>
            <!-- CSRF Token -->

        </div>
    </div>

    <script th:src="@{/js/GeneratePassword.js}"></script>
    <script th:src="@{/js/TogglePassword.js}"></script>

</div>

</body>
</html>

