<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Dashboard')"><title>Admin Dashboard</title></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">

    <div th:insert="fragments/toast :: toast(type=${toastType}, message=${toastMessage})"></div>

    <div class="main">
        <h1 th:text="${subject.name}">Subject Name</h1>

        <!-- Add more details as needed -->
        <p>Number of Classes: <span th:text="${subject.getSubjectClasses().size()}"></span></p>
        <p>Teacher: <span th:text="${subject.teacher.getFName()} + ' ' + ${subject.teacher.getLName()}"></span></p>

        <!-- Back to subject list -->
        <a href="/admin/subjects">Back to Subjects List</a>
    </div>

    <div>
        <div class="d-flex justify-content-between">
            <p>Classes</p>
        </div>
        <th:block th:replace="modals/addClassModal :: modal(id=${'addClassModal'}, subjectCode=${subject.getCode()}, periods=${periods})">modal</th:block>
        <p th:if="${subjectClass.isEmpty()}">No data available.</p>

        <section class="my-4">
            <div class="d-flex justify-content-between mb-3">
                <h3 class="mb-2">Classes</h3>
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addClassModal">Add Class</button>
            </div>
            <div class="session-grid">
                <div class="card col me-3" th:each="subjectClass : ${subject.getSubjectClasses()}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h5 class="fs-4 m-0" th:text="${subjectClass.getDay()}"></h5>
                            <h6 class="badge bg-primary d-flex justify-content-between rounded-pill fw-light my-auto"  th:text="${subjectClass.getPeriod().getTime()}+${subjectClass.getPeriod().getTime().getHour() > 11 ? ' pm' : ' am'}"></h6>
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted"  th:text="'Room: ' + ${subjectClass.getRoomCode()}"></h6>

                        <a class="btn-sm btn btn-outline-secondary" th:href="@{/teacher/subjects/{code}/{session}(code=${subject.getCode()}, session=${subjectClass.getId()})}">View</a>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <div>
        <div class="d-flex justify-content-between">
            <p>Students</p>
        </div>
        <p th:if="${enrollments.isEmpty()}">No data available.</p>

        <ul th:if="${!enrollments.isEmpty()}">
            <li th:each="enrollment : ${enrollments}">
                <span th:text="${enrollment.getStudent().getStudentId()}"></span>
                <span th:text="${enrollment.isAccepted().toString() == 'ACCEPTED' ? 'ACCEPTED' : (enrollment.isAccepted().toString() == 'PENDING' ? 'PENDING' : 'REJECTED')}"></span>

                <!--show reject button if status is accepted or pending-->
                <form action="/admin/enrollment/change-status/rejected" method="post" th:if="${enrollment.isAccepted().toString() == 'ACCEPTED' || enrollment.isAccepted().toString() == 'PENDING'}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" th:value="${enrollment.id}" name="enrollmentId" />
                    <button type="submit" class="btn btn-danger">Reject</button>
                </form>

                <!--show Accept button if status is rejected or pending-->
                <form action="/admin/enrollment/change-status/accepted" method="post" th:if="${enrollment.isAccepted().toString() == 'PENDING'}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" th:value="${enrollment.id}" name="enrollmentId" />
                    <button type="submit" class="btn btn-success">Accept</button>
                </form>

                <div th:if="${enrollment.isAccepted().toString() == 'REJECTED'}">
                    <div class="btn btn-secondary">Rejected</div>
                </div>

            </li>
        </ul>
    </div>

</div>

</body>
</html>
