<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Dashboard')"></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="d-flex">

    <div class="main container-fluid">
        <div th:insert="fragments/toast :: toast(type=${toastType}, message=${toastMessage})"></div>

        <div class="">
            <section class="d-flex justify-content-between mb-3">
                <h1 class="">Current Subjects</h1>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSubjectModal">Add Subject</button>
            </section>
            <th:block th:replace="modals/addSubjectModal :: modal('addSubjectModal')">modal</th:block>

            <div class="no-data-box d-flex" th:if="${subjects.isEmpty()}"><p class="mx-auto my-auto">No subjects. Create a new one</p></div>
            <table class="table align-middle mb-0 bg-white" th:if="${!#lists.isEmpty(subjects)}">
                <thead class="bg-light">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Teacher</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="subject : ${subjects}">
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1" th:text="${subject.getCode()}"></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1" th:text="${subject.getName()}"></p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1" th:text="${subject.getTeacher().getFName()}"></p>
                        </td>
                        <td>
                            <a th:href="@{'/admin/subjects/' + ${subject.code}}" type="button" class="btn btn-link btn-sm btn-rounded">
                                Edit
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <nav aria-label="Page navigation example" class="mt-4 d-flex">
                <ul class="pagination  mx-auto align-items-center ">
                    <li class="page-item">
               <span th:if="${prevDisabled}" class="pe-none page-link disabled" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </span>
                        <a th:unless="${prevDisabled}" class="page-link" th:href="@{'?page='+ (${currentPage - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="pageNumber : ${pageNumbers}" >
                        <a th:text="${pageNumber}" class="page-link" th:href="${'?page='+pageNumber}">1</a>
                    </li>

                    <li class="page-item">
                <span th:if="${nextDisabled}" class="pe-none page-link disabled" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </span>
                        <a th:unless="${nextDisabled}" class="page-link" th:href="@{'?page='+ ${currentPage + 1}}" aria-label="Previous">
                            <span aria-hidden="true">&raquo;</span>
                        </a>

                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>

</body>
</html>
