<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Dashboard')"></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="d-flex">

    <div class="main container-fluid">
        <div th:insert="fragments/toast :: toast(type=${toastType}, message=${toastMessage})"></div>

        <div class="mt-5">

            <section class="d-flex justify-content-between">
                <h1 class="">Manage Subjects</h1>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSubjectModal">Add Subject</button>
            </section>
            <th:block th:replace="modals/addSubjectModal :: modal('addSubjectModal')">modal</th:block>

            <!-- Display the current subjects -->
            <h3 class="mt-5">Current Subjects</h3>

            <div class="no-data-box d-flex" th:if="${subjects.isEmpty()}"><p class="mx-auto my-auto">No subjects. Create a new one</p></div>
            <table class="table align-middle mb-0 bg-white" th:if="${!#lists.isEmpty(subjects)}">
                <thead class="bg-light">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Teacher</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="subject : ${subjects}">
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1" th:text="${subject.getCode()}"></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1" th:text="${subject.getName()}"></p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1" th:text="${subject.getTeacher().getFName()}"></p>
                        </td>
                        <td>
                            <a th:href="@{'/admin/subjects/' + ${subject.code}}" type="button" class="btn btn-link btn-sm btn-rounded">
                                Edit
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>
