<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Teacher Dashboard')"><title>Admin Dashboard</title></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">


    <div class="main">
        <h1 th:text="${subject.name}">Subject Name</h1>

        <!-- Add more details as needed -->
        <p>Number of Classes: <span th:text="0">0</span></p>
        <p>Teacher: <span th:text="${subject.teacher.getFName()} + ' ' + ${subject.teacher.getLName()}"></span></p>

        <!-- Back to subject list -->
        <a href="/admin/subjects">Back to Subjects List</a>
    </div>

    <div>
        <div class="d-flex justify-content-between">
            <p>Classes</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClassModal">Add Subject</button>
        </div>
        <th:block th:replace="modals/addClassModal :: modal(id=${'addClassModal'}, subjectCode=${subject.getCode()})">modal</th:block>
        <p th:if="${subjectClass.isEmpty()}">No data available.</p>

        <ul th:if="${!subjectClass.isEmpty()}">
            <li th:each="class : ${subjectClass}">
                <span th:text="${class.roomCode}"></span>
            </li>
        </ul>
    </div>

    <div>
        <div class="d-flex justify-content-between">
            <p>Students</p>
        </div>
        <p th:if="${enrollments.isEmpty()}">No data available.</p>

        <ul th:if="${!enrollments.isEmpty()}">
            <li th:each="enrollment : ${enrollments}">
                <span th:text="${enrollment.getStudent().getStudentId()}"></span>
                <span th:text="${enrollment.isAccepted().toString() == 'ACCEPTED' ? 'ACCEPTED' : 'PENDING'}"></span>
            </li>
        </ul>
    </div>

</div>

</body>
</html>
