<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Dashboard')"><title>Admin Dashboard</title></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">

    <div th:insert="fragments/toast :: toast(type=${toastType}, message=${toastMessage})"></div>

    <a th:href="@{'/teacher/subjects/' + ${subject.getCode()} + '/' + ${subjectClass.getId()} + '/attendance'}">View Attendance</a>

    <h2>Students</h2>
    <div class="no-data-box d-flex" th:if="${#lists.isEmpty(enrolledStudents)}"><p class="mx-auto my-auto">No students enrolled</p></div>
    <ul th:if="${!#lists.isEmpty(enrolledStudents)}">
        <li th:each="student: ${enrolledStudents}">
            <span th:text="${student.getUsername()}"></span>
        </li>
    </ul>
</div>

</body>
</html>
