<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Dashboard')"><title>Admin Dashboard</title></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">

    <div class="accordion" id="weekAccordion">
        <div th:each="classSession, iterStat : ${sessionClass}" class="accordion-item">
            <h2 class="accordion-header" th:id="'heading' + ${iterStat.index}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        th:data-bs-target="'#collapse' + ${iterStat.index}" aria-expanded="true"
                        th:aria-controls="'collapse' + ${iterStat.index}">
                    <span th:text="${'Week ' + classSession.getWeek()}">Week 1</span>
                </button>
            </h2>
            <div th:id="'collapse' + ${iterStat.index}" class="accordion-collapse collapse"
                 th:classappend="${iterStat.index == 0} ? 'show'" aria-labelledby="headingOne"
                 th:data-bs-parent="${'#weekAccordion'}">
                <div class="accordion-body d-flex w-100 border-bottom border-light" th:each="attendance : ${classSession.getAttendanceRecords()}">
                    <strong th:text="${attendance.getStudent().getUsername()}">Week details:</strong>
                    <p th:text="${attendance.isPresent()}" class="text-lowercase">Attendance Info</p>

                    <button class="ml-auto btn btn-primary" data-bs-toggle="modal" th:attr="data-bs-target='#modal-' + ${attendance.getId()}">Update</button>
                    <div th:replace="modals/updateStudentAttendance :: modal(id=${attendance.getId()}, attendance=${attendance})" class="modal fade" th:id="'modal-' + ${id}" tabindex="-1" role="dialog" aria-labelledby="updateStudentAttendance" aria-hidden="true"></div>

                </div>
            </div>
        </div>
    </div>



</div>

</body>
</html>
