<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Dashboard')"><title>Admin Dashboard</title></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">

    <div th:insert="fragments/toast :: toast(type=${toastType}, message=${toastMessage})"></div>

    <div class="main">
        <span>Day: </span>
        <h1 th:text="${subjectClass.getDay()}"></h1>
        <span>Period: </span>
        <h1 th:text="${subjectClass.getPeriod().getTime()}"></h1>
        <span>Subject Code: </span>
        <h1 th:text="${subjectClass.getSubject().getCode()}"></h1>
        <span>Room: </span>
        <h1 th:text="${subjectClass.getRoomCode()}"></h1>

        <!-- Add more details as needed -->
        <p>Number of Enrollments: <span th:text="${subjectClass.getEnrollments().size()}"></span></p>

        <!-- Back to subject list -->
        <a th:href="@{'/admin/subjects/' + ${subjectClass.getSubject().getCode()}}">Back to Subjects List</a>
    </div>


    <h2>Students</h2>
    <div class="no-data-box d-flex" th:if="${#lists.isEmpty(enrolledStudents)}"><p class="mx-auto my-auto">No students enrolled</p></div>
    <ul th:if="${!#lists.isEmpty(enrolledStudents)}">
        <li th:each="student: ${enrolledStudents}">
            <span th:text="${student.getUsername()}"></span>
        </li>
    </ul>

    <div>
        <h2>Attendance Details</h2>
        <ul>
            <li th:each="classSession : ${sessionClass}">
                <span th:text="${classSession.getWeek()}"></span>
                <a th:href="@{'/teacher/subjects/' + ${subjectClass.getSubject().getCode()} + '/' + ${subjectClass.getId()} + '/attendance/' + ${classSession.getId()}}">view</a>

            </li>
        </ul>
    </div>

</div>

</body>
</html>
