<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Dashboard')"></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="d-flex">
    <div th:insert="fragments/toast :: toast(type=${toastType}, message=${toastMessage})"></div>

    <div class="main container-fluid">
        <div class="content">
            <h1>Teacher Dashboard</h1>
            <p>Welcome to the Teacher Dashboard!</p>

            <div>
                <div th:each="subject : ${subjects}" class="course">
                    <h3 th:text="${subject.name}"></h3>
<!--                    <a th:href="@{/user/subjects/${subject.getCode()}}">View</a>-->
                    <a th:href="@{/user/subjects/{code}(code=${subject.getCode()})}">View</a>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>

