<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Teacher Dashboard')"><title>Admin Dashboard</title></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">

    <div>
        <div class="card-block">
            <!-- Access SubjectClass via entry.key -->
            <h4>Session Week: </h4>
            <h4 class="card-title mt-3" th:text="${session.getWeek()}"></h4>

            <h4>Attendance Records</h4>

            <div th:each="attendance : ${attendanceRecords}">
                <div>
                    <h4 th:text="${attendance.getStudent().getFName()}"></h4>
                    <h4 th:text="${attendance.isPresent()}"></h4>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
