<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Dashboard')"><title>Admin Dashboard</title></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">

    <section class="d-flex fs-3 gap-2">
      <span class="text-capitalize" th:text="${subject.getDescription()}"></span>
        <span class="text-uppercase" th:text="${subject.getCode()}"></span>
    </section>

    <section class="my-4">
        <h3 class="mb-2">Classes</h3>
        <div class="no-data-box d-flex" th:if="${#lists.isEmpty(subject.getSubjectClasses())}"><p class="mx-auto my-auto">No classes scheduled for now. Check with your supervisor.</p></div>
        <div class="session-grid">
            <div class="card col me-3" th:each="subjectClass : ${subject.getSubjectClasses()}">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="fs-4 m-0" th:text="${subjectClass.getDay()}"></h5>
                        <h6 class="badge bg-primary d-flex justify-content-between rounded-pill fw-light my-auto"  th:text="${subjectClass.getPeriod().getTime()}+${subjectClass.getPeriod().getTime().getHour() > 11 ? ' pm' : ' am'}"></h6>
                    </div>

                    <h6 class="card-subtitle mb-2 text-muted"  th:text="'Room: ' + ${subjectClass.getRoomCode()}"></h6>

                    <a class="btn-sm btn btn-outline-secondary" th:href="@{/teacher/subjects/{code}/{session}(code=${subject.getCode()}, session=${subjectClass.getId()})}">View</a>
                </div>
            </div>
        </div>

    </section>

</div>


</body>
</html>
