<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Dashboard')"><title>Admin Dashboard</title></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">

  <div th:insert="fragments/toast :: toast(type=${toastType}, message=${toastMessage})"></div>

  <div class="accordion" id="weekAccordion">
    <div th:each="classSession, iterStat : ${sessions}" class="accordion-item">
      <h2 class="accordion-header" th:id="'heading' + ${iterStat.index}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                th:data-bs-target="'#collapse' + ${iterStat.index}" aria-expanded="false"
                th:aria-controls="'collapse' + ${iterStat.index}">
          <span th:text="${'Week ' + classSession.getWeek()}">Week 1</span>
        </button>
      </h2>
      <div th:id="'collapse' + ${iterStat.index}" class="accordion-collapse collapse"
           aria-labelledby="headingOne"
           th:data-bs-parent="${'#weekAccordion'}">
        <div class="accordion-body d-flex w-100 border-bottom border-light" th:each="attendance : ${classSession.getAttendanceRecords()}">
          <strong th:text="${attendance.getStudent().getUsername()}">Week details:</strong>
          <p th:text="${attendance.isPresent()}" class="text-lowercase">Attendance Info</p>

          <button class="ml-auto btn btn-primary" data-bs-toggle="modal" th:attr="data-bs-target='#modal-' + ${attendance.getId()}">Update</button>
          <div th:replace="modals/updateStudentAttendance :: modal(id=${attendance.getId()}, attendance=${attendance})" class="modal fade" th:id="'modal-' + ${id}" tabindex="-1" role="dialog" aria-labelledby="updateStudentAttendance" aria-hidden="true"></div>

        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>



  <script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
      const accordion = document.getElementById('weekAccordion');

      // Check if there's a stored state in localStorage
      const activeAccordion = localStorage.getItem('activeAccordion');
      if (activeAccordion) {
        const collapseElement = document.getElementById(activeAccordion);
        if (collapseElement) {
          // Open the stored accordion
          new bootstrap.Collapse(collapseElement, {
            toggle: true
          });
        }
      }

      accordion.addEventListener('shown.bs.collapse', function (event) {
        const openedAccordionId = event.target.id;
        localStorage.setItem('activeAccordion', openedAccordionId);
      });

      accordion.addEventListener('hidden.bs.collapse', function (event) {
        localStorage.removeItem('activeAccordion');
      });
    });
  </script>

</div>

</body>
</html>
