
/* Background image styling */
body{

}
.homebg {
   object-fit: contain;

    z-index: -1;
}
.text-box{
    z-index: 0;
    color: #000; /* Black color for text */
    background-color: rgba(255, 255, 255, 0.84); /* Semi-transparent white for readability */
    padding: 25px;
    border-radius: 10px;
    width: 50%; /* Adjust width as needed */
    margin: auto; /* Center the box */
}



