.homebg {
    object-fit: fill;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    margin-top: 50px;
}

.containerhome {
    position: relative;
    z-index: 1;
    color: #000;
    background-color: rgba(255, 255, 255, 0.84);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-top: 15%;

}
h1{
    font-size: 60px;
    font-family: "Arial Black";
    text-align: center;
    font-style: italic;
}
p{
    font-size: 20px;

}
.containerhome .navlink {
    display: block; /* Makes the link a block element */
    width: max-content; /* Fits the width to the content of the link */
    margin: 20px auto; /* Centers the link horizontally and adds vertical spacing */
    border: 2px solid #008cff; /* Adds a light blue border around the link */
    background-color: #008cff; /* Sets the background color to light blue */
    padding: 10px; /* Adds some padding inside the border */
    text-align: center; /* Centers the text inside the link */
    color: white; /* Changes the text color to white */
    text-decoration: none; /* Removes the underline from the link */
}





