*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
body {
    font-family: sans-serif;
}
.img-cover {
    width: 100%;
    height: 120px;  /* Fixed height for the example */
    object-fit: cover;
}
.session-grid{
    width: 100%;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
}

.flex-grid-one-col{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container form{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 350px;
}
.toast-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1055;
}
.container form input[type="text"], .container form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #b8b8b8;
    font-family: inherit;
    margin-bottom: 20px;
}
.container h3{
    margin-bottom: 20px;
}
.container form input[type="submit"]{
    max-width: 250px;
    margin: auto;
    display: block;
    width: 55%;
    padding: 10px;
    background: darkorange;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
}
.issue_list table{
    text-align: left;
    border-collapse: collapse;
    border: 1px #b8b8b8 solid;
    margin: auto;
}
.issue_list .desc{
    min-width: 500px;
}
.issue_list td, .issue_list th{
    border-bottom: 1px #b8b8b8 solid;
    border-top: 1px #b8b8b8 solid;
    padding: 5px;
}
.issue_list tr{
    height: 35px;
    transition: background .25s;
}
.issue_list tr:hover{
    background: #eee;
}
.issue_list .status.done:after{
    content: '✓';
}

/*side nav*/

#sidebar-wrapper {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.no-data-box {
    background-color: #f8f9fa;  /* Light grey background */
    border: 2px dotted #6c757d; /* Dotted border, grey color */
    border-radius: 8px;         /* Rounded corners */
    height: 120px;              /* Fixed height */
    width: 100%;
    opacity: 50%;
    margin: 20px 0;
}

.card-link {
    background-color: #007bff; /* Primary blue background */
    color: #fff;               /* White text */
    text-align: center;        /* Center the text */
    padding: 30px;             /* Space inside the cards */
    flex-grow: 1;              /* Width and height to make square */
    height: 150px;
    border-radius: 10px;       /* Rounded corners */
    text-decoration: none;     /* Remove underline from links */
    display: flex;
    flex-direction: column;/* Flex to center content */
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: 0.2s;
}

.card-link:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: #fff;
}