<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Use the base layout -->
<head th:replace="layout-general :: head(pageTitle='Home')"></head>
<body th:replace="layout-general :: body">
<div th:fragment="main">

        <div class="containerhome">
            <h1>Welcome to Your Learning Hub!</h1>
            <p>Dive into a sea of resources tailored just for you. Whether you're here to explore new subjects or master familiar ones, this is your space to learn, grow, and connect. Let's make every learning moment exciting and impactful!</p>
        </div>

    <div class="homebg">
        <img th:src="@{'/images/homebg.jpg'}" alt="Background image" th:height="800px" th:width="1520px" >
    </div>
    <!-- Background image included directly in the HTML -->

</div>
</body>
</html>

