<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head(name='Admin Dashboard')"></head>

<body th:replace="layout-dashboard :: body(sideNavLinks=${sideNavLinks})">

<div th:fragment="main" class="">

    <div class="d-flex justify-content-between mb-3">
        <h3>My Profile</h3>
        <a href="/redirect/profile/edit">Edit</a>
    </div>

    <div class="user-profile-data-cont">
        <span>UserName</span>
        <span th:text="${user.getUsername()}" class="form-control"></span>
    </div>
    <div class="user-profile-data-cont">
        <span>first name</span>
        <span th:text="${user.getFName()}" class="form-control"></span>
    </div>
    <div class="user-profile-data-cont">
        <span>last name</span>
        <span th:text="${user.getLName()}" class="form-control"></span>
    </div>

    <div class="user-profile-data-cont">
        <span >Personal Email</span>
        <span th:text="${user.getPersonalEmail()}" class="form-control"></span>
    </div>

    <div th:if="${type == 'student'}">
        <div th:if="${#lists.isEmpty(classes)}">Not enrolled in any subjects</div>
        <div th:if="${!#lists.isEmpty(classes)}">
            <h3>List of classes enrolled in</h3>
            <ul>
                <li th:each="class : ${classes}">
                    <p th:text="${class.getDay()}"></p>
                </li>
            </ul>
        </div>

        <div th:if="${#lists.isEmpty(parents)}">No Associated Parents</div>
        <div th:if="${!#lists.isEmpty(parents)}">
            <h3>Parents</h3>
            <ul>
                <li th:each="parent : ${parents}">
                    <span th:text="${parent.getFName()}"></span>
                    <span th:text="${parent.getLName()}"></span>
                    <span th:text="${parent.getPersonalEmail()}"></span>
                    <a th:href="@{'/admin/users/' + ${parent.getId()}}" type="button" class="btn btn-link btn-sm btn-rounded">
                        Details
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>

</body>
</html>
